<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style>
            .completed { text-decoration: line-through; }
            .red { color: red; }
        </style>
    </head>
    <body>
        <div id="app">
            <tasks v-bind:list="tasks"></tasks>
        </div>
        
        <template id="tasks-template">
            <h3>
                <span v-show="remaining">{{remaining}}</span> Items Remaining
            </h3>
            <ul v-show="list.length">
                <li :class="{ 'completed': task.completed }" 
                    v-for="task in list" 
                    @click="task.completed = !task.completed">
                    {{ task.body }}
                    <span @click="deleteTask(task)" class="red">Delete</span>
                </li>
            </ul>
            <p v-else>No tasks yet!</p>
            <label>Add Item</label>
            <input type="text" v-model="task" @keyup.enter="addTask(task)" value="" />
            <br /><br />
            <div><button @click="clearCompleted">Clear Completed</button></div>
            
        </template>
        
        <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.8/vue.js"></script>
        <script src="js/lists.js"></script>
        <script>
        

        
        </script>
    </body>
</html>