<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style>
            .completed { text-decoration: line-through; }
        </style>
    </head>
    <body>
        <div id="app">
            <tasks-app list="tasks"></tasks-app>
            
            
        </div>
        
        <template id="tasks-template">
            <ul>
                <li :class="{ 'completed': task.completed }" 
                    v-for="task in list" 
                    @click="toggleCompletedFor(task)"
                >
                    {{ task.body }}
                </li>
                <!-- <li :class="['todo-item', 'list-item']" v-for="task in tasks">{{ task.body }}</li> -->
            </ul>
        </template>
        
        <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.8/vue.js"></script>
        <script src="js/lists.js"></script>
        <script>
        

        
        </script>
    </body>
</html>